*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    width: 1100px;
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    line-height: 1.5;
    color: #000;
    background-color: #fff; /* Перенесено из style.css */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

button {
    font: inherit;
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
}

/* Убираем маркеры списка по умолчанию */
ul,
ol {
    list-style: none;
}

/* Обнуляем отступы у кнопок и ссылок */
button,
a {
    padding: 0;
    margin: 0;
}
