/* === ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ === */
:root {
  --gap: 50px;
}

/* === ОСНОВНАЯ СЕТКА === */
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1100px;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}

/* === ШАПКА === */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px var(--gap) 92px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.header__links-list-item {
  position: relative;
}

.header__links-list-item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1px;
  background-color: #000;
  box-shadow: 0 0 0 2px #000;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.header__link_active {
  border-bottom: none;
}

.header__link:hover {
  border-bottom: 1px solid #000;
}

.header__logo {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  line-height: 1.35;
}

.address {
  font-style: normal;
}

.address__link {
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.address__link:hover {
  opacity: 0.8;
}

/* === ОБЛОЖКА === */
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 165px var(--gap) 50px;
  color: #fff;
  z-index: 1;
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 0.82em;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.bet-button:hover {
  background-color: #fff;
  color: #000;
}

/* === ЛОТЫ === */
.lots {
  padding: 180px var(--gap) 181px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex: 1 0 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.lots__look-more-link:hover {
  opacity: 0.8;
}

/* === ОБ АУКЦИОНЕ === */
.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 var(--gap) 180px;
}

.about__logo {
  justify-self: center;
  width: 240px;
  height: 240px;
  padding: 63px 46px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 100%;
  height: 100%;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  line-height: 1.2;
}

.about__text p:last-child {
  margin-bottom: 0;
}

/* === ПОДВАЛ === */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px var(--gap) 90px;
}

.footer__address {
  justify-self: start;
  font-size: 18px;
  line-height: 1.35;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer__menu-link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__menu-link:hover {
  border-bottom: 1px solid #000;
}

.footer__social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__social-link {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}